<!--a userlist which consists of users that are following you. you can arrange their circle status in this template-->
{% extends "base.html" %}

{% block title %}deine Follower{% endblock %}

{% block content %}

    {% include "includes/navbar.html" %}




    <div class="container">

        <h3>Benutzer, die Dir folgen:</h3>
        <table class="table table-bordered">
            <tr>
                <th>Name</th>
                <th>Profilbild</th>
                <th>Kreise</th>
                <th>Actions</th>

            </tr>

            {% for profile in profile_list %}
                <form method="post" action="TODO_add_user_to_circles" role="form">
                    {% csrf_token %}
                    <tr>
                        <!--the name links to the user's profile-->
                        <td><a href="{% url "view_profile" profile.pk %}">{{ profile.user.username }}</a></td>
                        <!--profile_picture is resized-->
                        <td><img src="{{ profile.profile_picture }}" height="64" alt="Profilbild"></td>
                        <td>

                            <select multiple="multiple" name="add_members" class="testselect1">
                                {% for circle in circles %}
                                    <option>{{ circle.name }}</option>
                                {% endfor %}
                            </select>

                        </td>
                        <td><input type="submit" value="Speichern" class="btn btn-default"></td>

                    </tr>
                </form>
            {% endfor %}
        </table>
    </div>

{% endblock %}
