<!--a site which contains your circles. you are able to create a new circle.-->
{% extends "base.html" %}

{% block title %}buzzit - base{% endblock %}

{% block content %}

    {% include "includes/navbar.html" %}
	
	<div class="container">


        <h3>Your Circles</h3>
        <table class="table table-bordered">
            <tr>
                <th>Name</th>
                <th>Follower<h6>wähle mehrere Follower mit "strg" aus</h6></th>
                <th>Actions</th>
			</tr>
			
            
			<tr>
			
				<form role="form" method="post" action="{% url "new_circle" %}">
				{% csrf_token %}
				<!--the name links to the user's profile-->
                    <td>
						<input required type="text" name="name" value="{{circle.name}}"
                               class="form-control" id="kreisname"
                               placeholder="erstelle einen Kreis">
					</td>

                    <td>  				
					</td>
						
					<td>
						<button class="btn btn-default" type="submit">Erstellen</button>
					</td>
					</form>
            </tr>
			
				
                <tr>
				{% for circle in circle_list %}
				<!--the name links to the user's profile-->
                    <td><a href="{% url "view_profile" user.pk %}">{{circle.name }}</a></td>

                    <td>   
						<form>
								<select multiple="multiple" name="circlefollower" class="testselect2">
								{% for profile in profile_list %}
									<option>{{ profile.user.username }}</option>
								{% endfor %}
								</select>
								
						</form>
					</td>
					<td>
					<input type="submit" value="save" class="btn btn-default">
					<button class="btn btn-danger" type="button">Löschen</button>
					</td>
				{% endfor %}	
					
                </tr>
				

         
        </table>
    </div>   
	
	{% endblock %}