<!--a site which contains the list of follower in one circle. you are able to add or remove a follower to/from the circle-->
<!--messages from this circle will be shown-->
{% extends "base.html" %}

{% block title %}buzzit - base{% endblock %}

{% block content %}

    {% include "includes/navbar.html" %}
	
<div class="container">


 <div class="thumbnail col-md-5">
        <h3>{{circle.name}}</h3>
        <table class="table table-bordered">
            <tr>
                
                <th>Members<h6></h6></th>
                <th>Actions</th>
                
			</tr>
			
            <!--{% for user in user_list %}-->
			<tr>
         
                    <tr>
				<!--the name links to the user's profile-->
                    <td><a href="{% url "view_profile" user.pk %}">{{ circle.members }}</a></td>					
					<td>
						<button class="btn btn-info" type="button"><span class="glyphicon glyphicon-envelope"></span></button>
						<button class="btn btn-default" type="submit">Entfernen</button>
					</td>

            </tr>

           <!-- {% endfor %} -->
        </table>
			    </div>


	
	 <div class="well col-md-7">
          <div class="row">
	 <div class="col-md-12">
                    <h3>Kreisnachrichten</h3>
                    <!--space for circle messages-->

					<hr>
					{{message.creator}} schrieb hier am {{message.created}}:
				<p>
					{{message.text}}
				</p>
				
                    <!-- dummy placeholder for content -->
					<hr>
					{{message.creator}} schrieb hier am {{message.created}}:
				<p>
                    Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut
                    labore et dolore magna aliquyam erat, sed
				</p>
				<hr>
					{{message.creator}} schrieb hier am {{message.created}}:
				<p>
                    Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut
                    labore et dolore magna aliquyam erat, sed
				</p>
				
				
    </div>
    </div>
    </div>


    </div>
	
		
	{% endblock %}