<!--a site which contains the list of follower in one circle. you are able to add or remove a follower to/from the circle-->
<!--messages from this circle will be shown-->
{% extends "base.html" %}

{% block title %}Kreisdetails{% endblock %}

{% block content %}

    {% include "includes/navbar.html" %}

    <div class="container">

        <div class="thumbnail col-md-5">
            <h3>{{ circle.name }}</h3>
            <!-- add user to this circle -->
            <form class="" method="post" action="{% url "add_users_to_circle" circle.pk %}">
                {% csrf_token %}
                <select multiple="multiple" name="add_members" class="form-control testselect2">
                    {% for follower in followers %}
                        <option value="{{ follower.user.pk }}">{{ follower.user.username }}</option>
                    {% endfor %}
                </select>

                <p>
                    <input type="submit" value="Speichern" class="btn btn-default">
                </p>
            </form>
            <table class="table table-bordered">
                <tr>
                    <th>Members<h6></h6></th>
                    <th>Actions</th>
                </tr>
                {% for user in circle.members.all %}
                    <tr>
                        <!--the name links to the user's profile-->
                        <td>
                            <a href="{% url "view_profile" user.pk %}">{{ user.username }}</a>
                        </td>
                        <td>
                            <!-- remove user from this circle -->
                            <form action="{% url "remove_user_from_circle" user.pk circle.pk %}">
                                <div class="btn-group">
                                    <a href="{% url "all_chats" %}?active_conversation={{ user.username }}" class="btn btn-info" type="button">
                                        <span class="glyphicon glyphicon-envelope"></span>
                                    </a>
                                    <button class="btn btn-danger" type="submit">Entfernen</button>
                                </div>
                            </form>
                        </td>
                    </tr>
                {% endfor %}
            </table>
        </div>
        <div class="well col-md-7">
            <div class="row">
                <div class="col-md-12">
                    <h3>Kreisnachrichten</h3>
                    <!-- nachricht nur in diesen kreis schreiben -->
                    {% include "buzzit_messaging/includes/new_tweet_form_one_circle.html" %}
                    {% load messagefilters %}
                    <!-- space for circle messages from this circle -->
                    {% for circlemessage in circle.messages.all %}
                        {% include "buzzit_messaging/includes/circle_message_reduced_answers.html" with circlemessage=circlemessage %}
                    {% endfor %}

                    <!-- erscheint, wenn auf antworten geklickt wird -->
                    <div id="antworten" class="collapse">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="antworte hier...">
							<span class="input-group-btn">
							<button class="btn btn-info" type="submit">Senden</button>
							</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}