<!--detailed view of a post-->
{% extends "base.html" %}

{% block title %}Kreisübersicht{% endblock %}

{% block content %}

    {% include "includes/navbar.html" %}

<div class="container">

	<div class="well">
		
		<!-- the clicked post -->
		<div class="media">
                            <div class="media-left">
                                <a href="#">
                                    <img height="64" width="64" class="media-object"
                                         src="{{ circlemessage.creator.profile.profile_picture }}" alt="Profilbild">
                                </a>
                            </div>
                            <div class="media-body">
							<!-- the creator of the message as well as the date will be shown -->
                                <h4 class="media-heading"><a href="{% url "view_profile" circlemessage.creator.pk %}">{{ circlemessage.creator }}</a> schrieb hier
                                    am {{ circlemessage.created | date:'d.m.Y H:i' }}:</h4>
                                {{ circlemessage.text }}
								
								<!--link um Input zum antworten zu aktivieren-->	
								<p><a href="#antworten" data-toggle="collapse">antworten</a></p>
                            </div>
						<!-- the answers -->
						{% for answer_to in answer_list  %}	
						<div class="media">
                            <div class="media-left">
                                <a href="#">
                                    <img height="64" width="64" class="media-object"
                                         src="{{ answer_to.circlemessage.creator.profile.profile_picture }}" alt="Profilbild">
                                </a>
                            </div>
                            <div class="media-body">
							<!-- the creator of the answer as well as the date will be shown -->
                                <h4 class="media-heading"><a href="{% url "view_profile" answer_to.circlemessage.creator.pk %}">{{ answer_to.circlemessage.creator }}</a> schrieb hier
                                    am {{ answer_to.circlemessage.created | date:'d.m.Y H:i' }}:</h4>
                                {{ answer_to.circlemessage.text }}

                            </div>
						
						
						</div>
						
						{% endfor %}
						
                        </div>
	
	
	
                   
				<!-- erscheint, wenn auf antworten geklickt wird -->
				<div id="antworten" class="collapse">
					<div class="input-group">
									<input type="text" class="form-control" placeholder="antworte hier...">
									<span class="input-group-btn">
									<button class="btn btn-info" type="button">senden</button>
									</span>
					</div>
				</div>
				   
				   
    </div>
        
</div>
</div>
    
	
	
	

{% endblock %}
