<!-- form for retweets(messages you want to quote and publish yourself with a link to the creator ). 
     original message will be shown and highlighted -->
{% extends "base.html" %}

{% block title %}Retweet{% endblock %}

{% block content %}

    {% include "includes/navbar.html" %}
    {% load messagefilters %}
    <div class="container">

        <h3>Du retweetest...</h3>

        <div class="well col-md-4">
            <div class="media">
                <div class="media-left">
                    <a href="#">
                        <img height="64" width="64" class="media-object"
                             src="{% url "profile_picture_small" circlemessage.creator.profile.pk %}" alt="Profilbild">
                    </a>
                </div>
                <div class="media-body">
                    <!-- the creator of the message as well as the date will be shown -->
                    <h4 class="media-heading">
                        <a href="{% url "view_profile" circlemessage.creator.pk %}">{{ circlemessage.creator }}</a>
                        schrieb am {{ circlemessage.created | date:'d.m.Y H:i' }}:
                    </h4>
                    {{ circlemessage | messagefilter | safe }}
                </div>
            </div>
        </div>

        <div class="well col-md-10">
            <form id="new_post_form" role="form" method="post" action="{% url "new_circlemessage" %}">
                {% csrf_token %}
                <p>
                    <!-- choose circe/s to send the messages to -->
                    <select multiple="multiple" name="circles" class="testselect1">
                        {% for circle in circles %}
                            <option value="{{ circle.pk }}">{{ circle.name }}</option>
                        {% endfor %}
                    </select>
                </p>

                <div class="input-group">
                    <!-- inputfield for the messages you are going to send -->
                    <input type="hidden" name="mentions"/>
                    <input type="hidden" name="themes"/>
                    <input type="hidden" name="original_message" value="" />
                    <textarea required name="text" class="new_text_input" id="main_post_ta"
                              placeholder="Neue Kreisnachricht..."></textarea>

                    <div class="input-group-btn">
                        <button class="btn btn-info" type="submit">Senden</button>
                    </div>

                </div>
            </form>
        </div>
    </div>


{% endblock %}