<!-- posts with the clicked theme-->
{% extends "base.html" %}

{% block title %}Kreisbersicht{% endblock %}
{% load messagefilters %}
{% block content %}

    {% include "includes/navbar.html" %}

    <div class="container">

        <h3>Posts mit diesem Hashtag:</h3>

        {% for circlemessage in post_list %}
            <!-- messages with the clicked theme -->
            {% include "buzzit_messaging/includes/circle_message_reduced_answers.html" %}
        {% endfor %}


    </div>

{% endblock %}
