{% extends "base.html" %}

{% block title %}buzzit - base{% endblock %}

{% block content %}
    {% load filters %}
    <!--imports the navigation bar-->
    {% include "includes/navbar.html" %}

    <div class="container">

        <form id="new_post_form" role="form" method="post" action="{% url "new_circlemessage" %}">
            {% csrf_token %}
            <p>
                <!-- choose circe/s to send the messages to -->
                <select multiple="multiple" name="circles" class="testselect1">
                    {% for circle in circles %}
                        <option value="{{ circle.pk }}">{{ circle.name }}</option>
                    {% endfor %}
                </select>
            </p>

            <div class="input-group">
                <!-- inputfield for the messages you are going to send -->
                <input type="hidden" name="mentions"/>
                <input type="hidden" name="themes"/>
                <textarea required name="text" class="new_text_input" placeholder="Neue Kreisnachricht..."></textarea>

                <div class="input-group-btn">
                    <button class="btn btn-info" type="submit">Senden</button>
                </div>

            </div>
        </form>

        <script>
            $(document).ready(function () {
                init_post_area("textarea.new_text_input", '#new_post_form');
            });
        </script>
{% endblock %}