<div class="container">
	
	<!-- the content which will be shown in the impressum for the logged_in  user and guests, with placeholder information -->
  	<h2>Impressum</h2>
			<div class="col-lg-4">
    		<address>
				<strong>Cheng Chen</strong><br>
				hehe 91<br>
				1012378 Berlin<br>
				<abbr title="Phone">P:</abbr> (123) 4567890
			</address>

			<address>
				<strong>Problems and Feedback</strong><br>
				<a href="mailto:#">chengchen@example.com</a>
			</address>
			<hr>
			</div>


			<div class="col-lg-4">
    		<address>
				<strong>placeh</strong><br>
				heheh<br>
				11111 Berlin<br>
				<abbr title="Phone">P:</abbr> (123) 4567890
			</address>

			<address>
				<strong>Problems and Feedback</strong><br>
				<a href="mailto:#">@example.com</a>
			</address>
			<hr>
			</div>

			<div class="col-lg-4">
    		<address>
				<strong>placeh</strong><br>
				heheh<br>
				11111 Berlin<br>
				<abbr title="Phone">P:</abbr> (123) 4567890
			</address>

			<address>
				<strong>Problems and Feedback</strong><br>
				<a href="mailto:#">@example.com</a>
			</address>
			<hr>
			</div>

			<div class="col-lg-4">
    		<address>
				<strong>placeh</strong><br>
				heheh<br>
				11111 Berlin<br>
				<abbr title="Phone">P:</abbr> (123) 4567890
			</address>

			<address>
				<strong>Problems and Feedback</strong><br>
				<a href="mailto:#">@example.com</a>
			</address>
			</div>

			<div class="col-lg-4">
    		<address>
				<strong>placeh</strong><br>
				heheh<br>
				11111 Berlin<br>
				<abbr title="Phone">P:</abbr> (123) 4567890
			</address>

			<address>
				<strong>Problems and Feedback</strong><br>
				<a href="mailto:#">@example.com</a>
			</address>
			</div>
			<div class="col-lg-4">
    		<address>
				<strong>placeh</strong><br>
				heheh<br>
				11111 Berlin<br>
				<abbr title="Phone">P:</abbr> (123) 4567890
			</address>

			<address>
				<strong>Problems and Feedback</strong><br>
				<a href="mailto:#">@example.com</a>
			</address>
			</div>

	</div>