{% extends "base.html" %}
{% block title %}Password ändern{% endblock %}
{% block content %}
    <!--imports the navigation bar-->
    <div class="container">
        <h3>Gebe Deinen Benutzernamen und Deine Email-Adresse ein</h3>
        {% if errors %}<h2>{{ errors }}</h2>{% endif %}
        <form method="POST" action="">
            {% csrf_token %}
            <input type="text" name="username" placeholder="Benutzername" class="form-control"/>
            <input type="email" placeholder="EMail-Adresse" name="email" class="form-control"/>
            <button type="submit" class="btn btn-default">abschicken</button>
        </form>
    </div>
{% endblock %}