container_commands:
  01_migrate:
    command: "source /opt/python/run/venv/bin/activate && python buzzit/manage.py migrate --noinput"
    leader_only: true
  02_collectstatic:
    command: "source /opt/python/run/venv/bin/activate && python buzzit/manage.py collectstatic --noinput"

option_settings:
  "aws:elasticbeanstalk:application:environment":
    DJANGO_SETTINGS_MODULE: "buzzit.settings"
    PYTHONPATH: "/opt/python/current/app/buzzit:$PYTHONPATH"
  "aws:elasticbeanstalk:container:python":
    WSGIPath: "buzzit/buzzit/wsgi.py"
  "aws:elasticbeanstalk:container:python:staticfiles":
    "/static/": "buzzit/buzzit_app/static/"
