{% extends "base.html" %}
{% block title %}Password ändern{% endblock %}
{% block content %}
    {% include "includes/navbar.html" %}
    <div class="container">
    <form method="post">
    {% csrf_token %}
        <input type="password" name="old_password" class="form-control" placeholder="altes Passwort">
        {% if form.old_password.errors %}
            {{ form.old_password.errors }}
        {% endif %}
        <input type="password" name="new_password1" class="form-control" placeholder="neues Passwort">
        {% if form.new_password1.errors %}
            {{ form.new_password1.errors }}
        {% endif %}
        <input type="password" name="new_password2" class="form-control" placeholder="neues Passwort wiederholen">
        {% if form.new_password2.errors %}
            {{ form.new_password2.errors }}
        {% endif %}
    <input type="submit" value="ok" class="btn btn-default">
    </form>
    </div>
{% endblock %}