{% extends "base.html" %}
{% block title %}Profil bearbeiten{% endblock %}
{% block content %}
    {% include "includes/navbar.html" %}

    <p class="lead">{{ user.username }}</p>

    <div class="container">

        <p>Geschlecht auswählen:</p>

        <form role="form">
            <label class="checkbox-inline">
                <input type="checkbox" name="male">männlich
            </label>
            <label class="checkbox-inline">
                <input type="checkbox" name="female">weiblich
            </label>
        </form>
    </div>
    <p></p>
    <div class="col-md-5">

        <label>Profilbild ändern:</label>

        <div class="thumbnail">
            <img class="img-responsive" src="http://placehold.it/100x100" alt="">
        </div>

        <div class="input-group">

            <input type="text" class="form-control" placeholder="Datei hochladen">
					<span class="input-group-btn">
						<button class="btn btn-primary" type="button">upload</button>
					</span>

        </div>


        <p></p>
    </div>

    <div class="col-md-7">
        <div class="form-group">
            <label for="comment">Description:</label>
            <textarea class="form-control" rows="6" id="comment"></textarea>
        </div>

        <button type="button" class="btn btn-info">Änderung speichern</button>

    </div>
{% endblock %}