<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Register</title>
	
    <link href="../css/bootstrap.min.css" rel="stylesheet">

  
    <link href="../css/base.css" rel="stylesheet">
	
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
</head>

<body class="container">
 
   <div class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
		
            <div class="navbar-header">
                  <a class="navbar-brand" href="#">buzzit!</a>  
            </div>
			
			<form class="navbar-form navbar-left" role="search">
				<div class="input-group">
					<input type="text" class="form-control" placeholder="find user...">
					<span class="input-group-btn">
						<button class="btn btn-info" type="button"><span class="glyphicon glyphicon-search" aria-hidden="true"></span>Search</button>
					</span>
					</input>
				</div>		
			</form>

            <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li><a href="#">Profil</a></li>
                <li><a href="#">Kreise</a></li>
				<li><a href="#"><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span> Nachrichten</a></li>	
				
            </ul>
		
			<button ng-show="user.Login" type="button" class="btn navbar-btn navbar-right"><a href="#"><span class="glyphicon glyphicon-log-out" aria-hidden="true"></span> Log out</a></button>
	
            </div>
			
        </div>
    </div>

   
    <!-- Page Content -->
    <div class="container">

        

            

    
                <h2>Kontodaten bearbeiten</h2>
				
				 <div class="well">
				
				<form class="form-horizontal" role="form">
					
					<div class="form-group">
					<label class="control-label col-sm-2" for="altes_passwort">altes Passwort:</label>
					<div class="col-sm-10">
					<input type="altes_passwort" class="form-control" id="altes_passwort" placeholder="{{user.passwort}}">
					</div>
					</div>
					 
					<div class="form-group">
					<label class="control-label col-sm-2" for="neues_passwort">neues Passwort:</label>
					<div class="col-sm-10">
					<input type="neues_passwort" class="form-control" id="neues_passwort" placeholder="neues Passwort">
					</div>
					</div>
					
					<div class="form-group">
					<label class="control-label col-sm-2" for="neues_passwort_wiederholen">neues Passwort wiederholen:</label>
					<div class="col-sm-10">
					<input type="neues_passwort_wiederholen" class="form-control" id="neues_passwort_wiederholen" placeholder="neues Passwort wiederholen">
					</div>
					</div>
					 
					<div class="form-group">
					<label class="control-label col-sm-2" for="last_name">Name:</label>
					<div class="col-sm-10">
					<input type="last_name" class="form-control" id="last_name" placeholder="{{user.last_name}}">
					</div>
					</div>
					
					<div class="form-group">
					<label class="control-label col-sm-2" for="first_name">Vorname:</label>
					<div class="col-sm-10">
					<input type="first_name" class="form-control" id="first_name" placeholder="{{user.first_name}}">
					</div>
					</div>
					
					<div class="form-group">
					<label class="control-label col-sm-2" for="email">E-Mail:</label>
					<div class="col-sm-10">
					<input type="email" class="form-control" id="email" placeholder="{{user.email}}">
					</div>
					</div>
					
					
					
					<p></p>
					
				

       

                

                </form>
                

                
            </div>
        <button class="btn btn-info" type="button">Änderung speichern</button>
    </div>

    <div class="container">

        <hr>

        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; buzzit</p>
                </div>
            </div>
        </footer>

    </div>



</body>

</html>
