{% extends "base.html" %}
{% block title %}Profil bearbeiten{% endblock %}
{% block content %}
<!--imports the navigation bar-->
{% include "includes/navbar.html" %}
	
	<!-- template to edit your profile -->
    <div class="container">

        <p class="lead">{{ user.username }}</p>

        <form role="form" method="post" enctype="multipart/form-data" action="{% url "update_profile" %}">

            {% csrf_token %}
			
			<!--radio buttons for choosing the gender-->
            <p>Geschlecht auswählen:</p>

            <label class="radio-inline">
                <input type="radio" name="gender" value="m" {% if profile.gender == "m" %}checked{% endif %}>männlich
            </label>
            <label class="radio-inline">
                <input type="radio" name="gender" value="f" {% if profile.gender == "f" %}checked{% endif %}>weiblich
            </label>

            <p></p>

            <div class="col-md-5">
				
				<!--current profile picture and input field for uploading the new profile picture-->
                <label>Profilbild ändern:</label>

                <div class="thumbnail">
                    <img class="img-responsive" height="128" style="width: auto;" src="{% url "profile_picture_small" profile.pk %}" alt="">
                </div>

                <div class="input-group">
					<!-- if imagefile does not match correct format an error will be sent out -->
                    <input type="file" class="form-control" name="image_file" placeholder="Datei hochladen" accept="image/*">
                    {% if form.image_file.errors %}
                        {{ form.image_file.errors }}
                    {% endif %}
                </div>


                <p></p>
            </div>
			
			<!--textarea for changing the description with old being shown-->
            <div class="col-md-7">
                <div class="form-group">
                    <label for="comment">Beschreibung:</label>
                    <textarea class="form-control" rows="6" name="description" id="comment">{{ profile.description }}</textarea>
                </div>
			
				<!--button for saving the changes-->
                <button type="submit" class="btn btn-info">Änderung speichern</button>
				<a class="btn btn-default" href="{% url "start" %}">Abbrechen</a>

            </div>
        </form>

    </div>
{% endblock %}