<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>buzzit - base</title>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
	<link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet">





</head>
<div class="container">
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{% url "start" %}">buzzit!</a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
			<!--search field for user profiles -->
            <form class="navbar-form navbar-left" role="search" method="get" action="{% url "search_user" %}">
                <div class="input-group">
                    <input name="q" type="text" class="form-control" placeholder="find user...">
					<span class="input-group-btn">
						<button class="btn btn-info" type="submit"><span class="glyphicon glyphicon-search"
                                                                         aria-hidden="true"></span> Search
                        </button>
					</span>
                    </input>
                </div>
            </form>

			
            <ul class="nav navbar-nav">
				<!--leads to home site -->
                <li><a href="{% url "home" %}">Profil</a></li>
				<!--leads to circle site -->
                <li><a href="#">Kreise</a></li>
				<!--leads to messages site -->
                <li><a href="#"><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span> Nachrichten</a>
                </li>

            </ul>
			
			
            <ul class="nav navbar-nav navbar-right">
				<!--leads to edit_own_userdata site -->
                <li><a href="{% url "update_userdata" %}"><span class="glyphicon glyphicon-wrench"></span> Einstellungen</a>
                </li>
				<!-- logs out the user -->
                <li><a href="{% url "logout" %}"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
            </ul>


        </div>
    </div>
</nav>
</div>


    <div class="container">

        <div class="row">
            <!--picture of this profile and information e.g. description, first_name, last_name, email, gender-->
            <div class="col-md-3">
                <p class="lead">Eingeloggt als...</p>
            </div>
        </div>
        <div class="row">
            <div class="thumbnail col-md-3">
                <img class="img-responsive" src="{{ profile.profile_picture }}" alt="Profilbild">
                <hr>
                <p>{{ user.first_name | beautifulNone }}</p>
                <hr>
                <p>{{ user.last_name | beautifulNone }}</p>
                <hr>
                <p>{{ user.email }}</p>
                <hr>
                <p>{{ profile.gender | beautifulNone }}</p>
                <hr>

                <!--leads to edit_own_profile site-->
                <p><a href="{% url "update_profile" %}">edit profile</a></p>
            </div>
            <div class="col-md-9">
                <div class="thumbnail">
                    <p>{{ profile.description | beautifulNone }}</p>
                </div>
         
                <div class="well">
                    <h3>Kreisnachrichten</h3>
                    <!--space for circle messages-->
					<form>
						<p>Wähle ein Kreis aus:
						<select align="left">
									<option>Public</option>
									<option>TU-Berlin</option>
									<option>Gruppe 5</option>
									<option>SN</option>
						</select>
						</p>
						<div class="input-group">
							<input type="text" class="form-control" placeholder="Kreisnachricht...">
							
						<div class="input-group-btn">
							<button class="btn btn-info" type="button">Senden</button>
						</div>
						
						</div>
					</form>
					<hr>
					{{message.creator}} schrieb am {{message.created}}:
				<p>
					{{message.text}}
				</p>
                    <hr>
                    <!-- dummy placeholder for content -->
					{{message.creator}} schrieb am {{message.created}}:
					<p>
                    Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut
                    labore et dolore magna aliquyam erat, sed
					</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}  
	
	
   
</body>

</html>
