{% extends "base.html" %}

{% block title %}buzzit - base{% endblock %}

{% block content %}
    {% load filters %}
    <!--imports the navigation bar-->
    {% include "includes/navbar.html" %}

    <!-- Page Content -->
    <!-- site being shown with logging in. serves as the profile of the logged_in user  -->
    <div class="container">

        <div class="row">
            <!--picture of this profile and information e.g. description, first_name, last_name, email, gender-->
            <div class="col-md-3">
                <p class="lead">Eingeloggt als...</p>
            </div>
        </div>
        <div class="row">
            <div class="thumbnail col-md-3">
                <img class="img-responsive" src="{{ profile.profile_picture }}" alt="Profilbild">
                <hr>
                <p>Vorname: {{ user.first_name | beautifulNone }}</p>
                <hr>
                <p>Nachname: {{ user.last_name | beautifulNone }}</p>
                <hr>
                <p>Email: {{ user.email }}</p>
                <hr>
                <p>Geschlecht: {{ profile.gender | beautifulNone }}</p>
                <hr>

                <!--leads to edit_own_profile site-->
                <p><a href="{% url "update_profile" %}">edit profile</a></p>
                <!-- leads to the follwing_userlist which contains the user you are following -->
                <p><a href="{% url "list_follows" %}">wem folge ich?</a></p>

            </div>
            <div class="col-md-9">
                <div class="thumbnail">
                    <p>Beschreibung: {{ profile.description | beautifulNone }}</p>
                </div>
                <div class="well">
                    <h3>Kreisnachrichten</h3>
                    <!--space for creating a circle messages-->
                    <form id="new_post_form" role="form" method="post" action="{% url "new_circlemessage" %}">
                        {% csrf_token %}
                        <p>
                            <!-- choose circe/s to send the messages to -->
                            <select multiple="multiple" name="circles" class="testselect1">
                                {% for circle in circles %}
                                    <option value="{{ circle.pk }}">{{ circle.name }}</option>
                                {% endfor %}
                            </select>
                        </p>

                        <div class="input-group">
                            <!-- inputfield for the messages you are going to send -->
                            <input type="hidden" name="mentions"/>
                            <input type="hidden" name="themes"/>
                            <textarea required name="text" class="new_text_input"
                                      placeholder="Neue Kreisnachricht..."></textarea>

                            <div class="input-group-btn">
                                <button class="btn btn-info" type="submit">Senden</button>
                            </div>

                        </div>
                    </form>
                    <hr>
                    {% load messagefilters %}
                    {% for circlemessage in message_list %}
                        <!-- messagefeed for the messages that are visible to you -->
                        <div class="media">
                            <div class="media-left">
                                <a href="#">
                                    <img height="64" width="64" class="media-object"
                                         src="{{ circlemessage.creator.profile.profile_picture }}" alt="Profilbild">
                                </a>
                            </div>
                            <div class="media-body">
                                <!-- the creator of the message as well as the date will be shown -->
                                <h4 class="media-heading"><a
                                        href="{% url "view_profile" circlemessage.creator.pk %}">{{ circlemessage.creator }}</a>
                                    schrieb hier
                                    am {{ circlemessage.created | date:'d.m.Y H:i' }}:</h4>
                                {{ circlemessage | messagefilter | safe }}
                                <!-- if you are the creator of the message, a delete button will be shown -->
                                {% if circlemessage.creator == user %}
                                    <div align="right">
                                        <a class="btn btn-danger btn-xs"
                                           href="{% url "delete_circlemessage" circlemessage.id %}">Löschen</a>
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    <script>
        $(document).ready(function () {
            init_post_area("textarea.new_text_input", '#new_post_form');
        });
    </script>
{% endblock %}