    {% extends "base.html" %}

    {% block title %}buzzit - base{% endblock %}

    {% block content %}
    {% include "includes/navbar.html" %}

   
    <!-- Page Content -->
    <div class="container">

        <div class="row">

            <div class="col-md-3">
                <p class="lead">Eingeloggt als...</p>
                <div class="thumbnail">
                    <img class="img-responsive" src="{{profile.profile_picture}}" alt="Profilbild">
                    <hr>
					<p>{{user.first_name}}</p>
					<hr>
					<p>{{user.last_name}}</p>
					<hr>
					<p>{{profile.description}}</p>
					<hr>
					<p>{{user.email}}</p>
					<hr>
					<p>{{profile.gender}}</p>
					<hr>
                                  
                    <p><a href="{% url "update_profile" %}">edit profile</a></p>
             
               
                </div>
            </div>

            <div class="col-md-9">
			   <div class="thumbnail">
			   </div>
			<div class="well">
				
                <h3>Öffentliche Nachrichten</h3>
				<div class="input-group">
					<input type="text" class="form-control" placeholder="write public message...">
					<span class="input-group-btn">
						<button class="btn btn-info" type="button">Send</button>
					</span>
				</div>
                    <hr>
                    <div class="row">
                        <div class="col-md-12">
                        </div>
                    </div>
                    <hr>
					<div class="row">
                        <div class="col-md-12">
                        </div>
                    </div>
                    <hr>
					<div class="row">
                        <div class="col-md-12">
                        </div>
                    </div>
                    <hr><div class="row">
                        <div class="col-md-12">
                        </div>
                    </div>
                    <hr>
					<div class="row">
                        <div class="col-md-12">
                        </div>
                    </div>
                    <hr>
					


               

                </div>
			

       

                    <div class="well">
                     <h3>Kreisnachrichten</h3>  
				<div class="input-group">
					<input type="text" class="form-control" placeholder="Kreisnachricht...">
					<span class="input-group-btn">
						<button class="btn btn-info" type="button">Send</button>
					</span>

				</div>
                    <hr>
                    </div>
                    
                </div>

                
            </div>
        </div>

{% endblock %}