{% extends "base.html" %}
{% block title %}Profil anzeigen{% endblock %}
{% block content %}
    <!--imports the navigation bar-->
    {% include "includes/navbar.html" %}

    <!-- Page Content -->

    <!-- template to view your own or an other user's profile -->

    <div class="container">

        <!--information and picture of this profile-->
		<div class="container">
        <h3> {{ profile.user.username }}
        </h3>
        </div>
        <div>
            <div class="col-md-5">

                <div class="thumbnail">
                    <img class="img-responsive" src="{{ profile.profile_picture }}" alt="Profilbild">
                </div>

                <div class="well">
                    <p>Vorname: {{ profile.user.first_name }}</p>
                    <hr>
                    <p>Nachname: {{ profile.user.last_name }}</p>
                    <hr>
                    <p>Beschreibung: {{ profile.description }}</p>
                    <hr>

                    <form class="form-inline" role="form" method="post">
                        {% csrf_token %}
						<!--button for sending a message to this user-->
                        <button class="btn btn-info" type="button"><span class="glyphicon glyphicon-envelope"></span>
                        </button>

                        {% if profile.user != user %}
                            {% if profile.i_am_following %}
                                <a class="btn btn-danger" role="form-control" method="post"
                                   href="{% url "unfollow" profile.pk %}" type="submit"><span class="glyphicon glyphicon-remove-circle"></span> Entfolgen
                                </a>
                            {% else %}
                                <a class="btn btn-info" role="form-control" method="post"
                                   href="{% url "follow" profile.pk %}" type="submit"><span class="glyphicon glyphicon-circle-arrow-right"></span> Folgen 
                                </a>
                            {% endif %}
                        {% endif %}
                    </form>

                </div>
            </div>


            <div class="col-md-7">

                <div class="well">
                    <!--space for public messages-->
                    <h3>Kreisnachrichten</h3>

                    <div class="row">
                        <div class="col-md-12">
                        </div>
                    </div>
                    <!-- available messages of this user -->
                    {% for circlemessage in message_list %}
                        <div class="media">
                            <div class="media-left">
                                <a href="#">
                                    <img height="64" width="64" class="media-object"
                                         src="{{ circlemessage.creator.profile.profile_picture }}" alt="Profilbild">
                                </a>
                            </div>
                            <!-- the creator of the message as well as the date will be shown -->
                            <div class="media-body">
                                <h4 class="media-heading">{{ circlemessage.creator }} schrieb hier
                                    am {{ circlemessage.created | date:'d.m.Y H:i' }}:</h4>
                                {{ circlemessage.text }}

                                
                                    <div align="right">
										<a class="btn btn-info btn-xs" href="#antworten" data-toggle="collapse"><span class="glyphicon glyphicon-share-alt"></span> Antworten</a>
										<a class="btn btn-info btn-xs" href="#"><span class="glyphicon glyphicon-retweet"></span> Retweet</a>
									{% if circlemessage.creator == user %}
                                        <a class="btn btn-danger btn-xs"
                                           href="{% url "delete_circlemessage" circlemessage.id %}"><span class="glyphicon glyphicon-remove"></span> L&ouml;schen</a>
									{% endif %}
									<hr>
                                    </div>
                                
                            </div>
                        </div>
                    {% endfor %}
                    <!-- /available messages of this user -->
					
					<!-- erscheint, wenn auf antworten geklickt wird -->
					<div id="antworten" class="collapse">
						<div class="input-group">
							<input type="text" class="form-control" placeholder="antworte hier...">
							<span class="input-group-btn">
							<button class="btn btn-info" type="submit">Senden</button>
							</span>
						</div>
					</div>

                </div>

            </div>
        </div>

    </div>
{% endblock %}