<!-- list of current admins, possibility to appoint new admins, deprive admins of their rights -->
<!--{% extends "base.html" %}

{% block title %}Admin-Dashboard{% endblock %}

{% block content %}
    {% include "includes/navbar.html" %}-->
<html>
	<head>
	<link rel="stylesheet" href="admin.css">
	<link rel="stylesheet" href="base.css">
	<link rel="stylesheet" href="bootstrap.css">
	<link rel="stylesheet" href="bootstrap.min.css">
	</head>
	
	
	<body>
	<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{% url "start" %}">buzzit!</a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
			<!--search field for user profiles -->
            <form class="navbar-form navbar-left" role="search" method="get" action="{% url "search_user" %}">
                <div class="input-group">
                    <input name="q" type="text" class="form-control" placeholder="finde andere Nutzer...">
					<span class="input-group-btn">
						<button class="btn btn-info" type="submit"><span class="glyphicon glyphicon-search"
                                                                         aria-hidden="true"></span>
                        </button>
					</span>
                    </input>
                </div>
            </form>

			
            <ul class="nav navbar-nav">
				<!--leads to home site -->
                <li><a href="{% url "view_profile" user.pk %}">Profil</a></li>
                <li><a href="{% url "my_followers" %}">Follower</a></li>
				<!--leads to circle site -->
                <li><a href="{% url "circle_overview" %}">Kreise</a></li>
				<!--leads to messages site -->
                <li><a href="{% url "all_chats" %}"><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span> Nachrichten<span class="notification_count badge">0</span></a>
                </li>

            </ul>
			
			
            <ul class="nav navbar-nav navbar-right">
				<!--leads to edit_own_userdata site -->
                <li><a href="{% url "update_userdata" %}"><span class="glyphicon glyphicon-wrench"></span> Einstellungen</a>
                </li>
				<!-- logs out the user -->
                <li><a href="{% url "logout" %}"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
            </ul>


        </div>
    </div>
</nav>
	
	<div class="admin-bg">
	<h3> Admin-Liste</h3>
	
	 <form class="" method="post" action="{% url "add_users_to_admins" user.pk %}">
                {% csrf_token %}
                <select name="add_admin" class="form-control testselect2" size="3">
                   
                        <option value="">{{ user.username }}</option>
                        <option value="">3</option>
                        <option value="">3</option>
                        <option value="">3</option>
                        <option value="">3</option>
                        <option value="">3</option>
                        <option value="">3</option>
                        <option value="">3</option>
                        <option value="">3</option>
                        <option value="">3</option>
                        <option value="">3</option>
                        <option value="">3</option>
                        <option value="">3</option>
                        <option value="">3</option>
                        <option value="">3</option>
                        <option value="">3</option>
                        <option value="">3</option>
                        <option value="">3</option>
                        <option value="">3</option>
                        <option value="">3</option>
  
                </select>

                <p>
                    <input type="submit" value="Speichern" class="btn btn-default">
                </p>
            </form>
	<table class="table table-bordered">
                <tr>
                    <th>Admins<h6></h6></th>
                    <th>Aktionen</th>
                </tr>
                {% for user in userlist %}
                    <tr>
                        <!--the name links to the user's profile-->
                        <td>
                            <a href="{% url "view_profile" user.pk %}">{{ user.username }}</a>
                        </td>
                        <td>
                            <!-- button to remove user from this circle -->
                            <form action="{% url "remove_user_from_admins" user.pk %}">
                               
                                    <button class="btn btn-danger" type="submit">Entfernen</button>
       
                            </form>
                        </td>
                    </tr>
                {% endfor %}
            </table>
	
	</div>
	</body>
	
</html>