<!-- a single reported circlemessage with the possibility to delete the message, block the user or close the case -->
{% extends "base.html" %}

{% block title %}Kreisbersicht{% endblock %}
{% load messagefilters %}
{% block content %}

    {% include "includes/admin_nav.html" %}

    <div class="admin-bg">
        <div class="container">

            <h3>Post melden: </h3>
            <!-- reported post-->
            <div class="well">

                <!-- one single clicked post with its replys -->
                {% include "buzzit_messaging/includes/circle_message_all_answers.html" with circlemessage=circlemessagereport.reported_message %}


            </div>
            <!-- reason for the report -->
            <h4> Grund fr die Meldung: {{ circlemessagereport.reason }}</h4>
            <!-- user who reported -->
            <h5> Gemeldet von: <a
                    href="{% url "view_profile" circlemessagereport.creator.profile.pk %}">{{ circlemessagereport.creator.username }}</a>
            </h5>

            <!-- the admin can either delete the reported post, reset the report or ignore the report -->
            <form action="{% url "delete_reported_post" circlemessagereport.pk %}" method="post">
                {% csrf_token %}
                <button class="btn btn-danger" type="submit">Post lschen</button>
            </form>
            <a href="{% url "ignore_report" circlemessagereport.pk %}" class="btn btn-success" type="button">Meldung als falsch kennzeichen</a>
            <a href="{% url "admin_frontpage" %}" class="btn btn-default" type="button">Abbrechen</a>


        </div>
    </div>

{% endblock %}
