<!-- a plain user report form with a text input for an optional report reason, report will be sent to admins -->
{% extends "base.html" %}

{% block title %}Kreisübersicht{% endblock %}
{% load messagefilters %}
{% block content %}

    {% include "includes/navbar.html" %}

<div class="container">

<h3>Benutzer melden: </h3>

<div class="container">
        <h3> {{ profile.user.username }}
        </h3>
        </div>
        <div>
            <div class="col-md-5">

                <div class="thumbnail">
                    <img class="img-responsive" src="{% url "profile_picture_small" profile.pk %}" alt="Profilbild">
                </div>

                <div class="well">
                    <p>Vorname: {{ profile.user.first_name }}</p>
                    <hr>
                    <p>Nachname: {{ profile.user.last_name }}</p>
                    <hr>
                    <p>Beschreibung: {{ profile.description }}</p>
                    <hr>

 
                </div>
            </div>
			
	 <div class="col-md-7">		
	<h4> Grund für die Meldung:</h4>
		<div class="input-group">
					<input type="text" class="form-control" placeholder="Meldegrund eintragen...">
					<span class="input-group-btn">
					<button class="btn btn-success" type="submit">Melden</button>
					</span>
		</div>

	</div>

</div>

{% endblock %}
