{% load messagefilters %}
<div class="media">
    {% if circlemessage.original_message %}
        <div class="media-left{% if circlemessage.original_message %} media-middle{% endif %}">
            <a href="#">
                <img height="64" width="64" class="media-object"
                     src="{% url "profile_picture_small" circlemessage.creator.profile.pk %}"
                     alt="Profilbild">
            </a>
        </div>
        <div class="media-body">
            <!-- the creator of the message as well as the date will be shown -->
            <div class="media repost">
                <div class="media-left">
                    <a href="{% url "view_profile" circlemessage.original_message.creator.profile.pk %}">
                        <img height="64" width="64" class="media-object"
                             src="{% url "profile_picture_small" circlemessage.original_message.creator.profile.pk %}"
                             alt="Profilbild">
                    </a>
                </div>
                <div class="media-body">
                    <!-- the creator of the answer as well as the date will be shown -->
                    <h4 class="media-heading">

                        <a href="{% url "view_profile" circlemessage.original_message.creator.pk %}">
                            <span class="glyphicon glyphicon-retweet"></span>
                            {{ circlemessage.original_message.creator }}</a>
                        {{ circlemessage.original_message.created | date:'d.m.Y H:i' }}:</h4>
                    {{ circlemessage.original_message | messagefilter | safe }}
                </div>
            </div>
        </div>
    {% endif %}
    <h4 class="media-heading">
        <a href="{% url "view_profile" circlemessage.creator.pk %}">{{ circlemessage.creator }}</a>
        {% if circlemessage.original_message %} repostete am
        {% else %} schrieb am
        {% endif %}
        {{ circlemessage.created | date:'d.m.Y H:i' }}:</h4>
    {{ circlemessage | messagefilter | safe }}

    <div align="right">
        <a class="btn btn-info btn-xs" href="{% url "one_circlemessage" circlemessage.id %}">
            <span class="glyphicon glyphicon-share-alt"></span>
            Antworten
        </a>
        <a class="btn btn-info btn-xs"
           href="{% url "repost_circlemessage" circlemessage.pk %}"><span
                class="glyphicon glyphicon-retweet"></span> Retweet</a>
        <!-- if you are the creator of the message, a delete button will be shown -->
        {% if circlemessage.creator == user %}
            <a class="btn btn-danger btn-xs"
               href="{% url "delete_circlemessage" circlemessage.id %}"><span
                    class="glyphicon glyphicon-remove"></span> Löschen</a>
        {% endif %}
    </div>
    <!-- the answers-->
    {% block answers %}
    {% endblock %}
</div>