{% extends "base.html" %}
{% block title %}Registrierung{% endblock %}
{% block content %}
    <div class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">

            <div class="navbar-header">
                <a class="navbar-brand" href="{% url "start" %}">buzzit!</a>
            </div>

        </div>
    </div>


    <!-- Page Content -->
    <div class="container">

        <!-- registration form, username and password are required - first_name, last_name and email are optional -->

        <h2>Registrierung</h2>

        <div class="well">
            <form class="form-horizontal" role="form" method="post">
                {% load filters %}
                {% csrf_token %}
                <div class="form-group">
                    <!-- textfield for username -->
                    <label class="control-label col-sm-2" for="benutzername">*Benutzername:</label>

                    <div class="col-sm-10">
                        <input required type="text" name="username" value="{{ form.username.value | emptyNone }}"
                               class="form-control" id="benutzername"
                               placeholder="gewünschter Benutzername">
                        {{ form.username.errors }}
                    </div>
                </div>

                <div class="form-group">
                    <!-- textfield for password, password will not be shown -->
                    <label class="control-label col-sm-2" for="passwort">*Passwort:</label>

                    <div class="col-sm-10">
                        <input required type="password" name="password1" class="form-control" id="passwort"
                               placeholder="gewünschtes Passwort">
                        {{ form.password1.errors }}
                    </div>
                </div>

                <div class="form-group">
                    <!-- it is required to repeat the password for safety reasons -->
                    <label class="control-label col-sm-2" for="passwort_wiederholen">*Passwort wiederholen:</label>

                    <div class="col-sm-10">
                        <input required type="password" name="password2" class="form-control" id="passwort_wiederholen"
                               placeholder="Passwort wiederholen">
                        {{ form.password2.errors }}
                    </div>
                </div>

                <div class="form-group">
                    <!-- optionally for last_name -->
                    <label class="control-label col-sm-2" for="last_name">Name:</label>

                    <div class="col-sm-10">
                        <input type="text" name="last_name" value="{{ form.last_name.value | emptyNone }}" class="form-control"
                               id="last_name" placeholder="Name">
                        {{ form.last_name.errors }}
                    </div>
                </div>

                <div class="form-group">
                    <!-- optionally for first_name -->
                    <label class="control-label col-sm-2" for="first_name">Vorname:</label>

                    <div class="col-sm-10">
                        <input name="first_name" value="{{ form.first_name.value | emptyNone }}" type="text" class="form-control"
                               id="first_name" placeholder="Vorname">
                        {{ form.first_name.errors }}
                    </div>
                </div>

                <div class="form-group">
                    <!-- optionally for email -->
                    <label class="control-label col-sm-2" for="email">*E-Mail:</label>

                    <div class="col-sm-10">
                        <input required type="text" value="{{ form.email.value | emptyNone }}" name="email" class="form-control"
                               id="email" placeholder="E-Mail">
                        {{ form.email.errors }}
                    </div>
                </div>


                <p></p>
				<div align="right"><i> * diese Felder sind erforderlich</i>
				</div>
                <!--the button for submitting the registration information, a user with the credentials will be created -->
                <button class="btn btn-info" type="submit">Registrieren</button>
				

            </form>
        </div>

    </div>
{% endblock %}