body {
    padding-top: 70px;
}

.thumbnail img {
    width: 75%;
}

.thumbnail {
    padding: 33px;
}

.thumbnail .caption-full {
    padding: 9px;
    color: #333;
}

.table {
    display: table;
    border: solid grey;
    border-width: thin;

}

.heading {
    display: table-row;
    font-weight: bold;

}

.row {
    display: table-row;
}

.cell {
    display: table-cell;
    border: solid grey;
    border-width: thin;
    padding-left: 5px;
    padding-right: 2px;

}

footer {
    margin: 50px 0;
}

.highlight_theme {
    background-color: #AAD7FF;
}

.highlight_contact {
    background-color: #9AEEAC;
}

textarea.new_text_input {
    padding: 8px 12px 26px 12px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
}