{% load staticfiles %}
<!DOCTYPE html>
<!-- this is our base for mostly all the templates for the logged_in user. It includes the static files, a footer and it is linked to the bootstrap.min.css, jquery.min.js and bootstrap.min.js-->
<html lang="en">
<head>
    <!-- general html head -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <!--the title of the site -->
    <title>{% block title %}{% endblock %}</title>

    <!-- links to bootstrap and jquery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet">

    <!-- noty.js for messages -->
    <script src="{% static "js/noty/packaged/jquery.noty.packaged.min.js" %}"></script>

    <!-- custom css -->
    <link href="{% static "css/base.css" %}" rel="stylesheet">
</head>
<body>
<!-- other templates are embedded here -->
{% block content %}
{% endblock %}

<!--footer on the bottom of the website-->
<footer>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <ul class="list-inline">
                    <li>
                        <!--leads to the home site -->
                        <a href="{% url "start" %}">Home</a>
                    </li>
                    <li class="footer-menu-divider">&sdot;</li>
                    <li>
                        <!-- leads to the impressum -->
                        <a href="{% url "impressum" %}">Impressum</a>
                    </li>

                </ul>
                <p class="copyright text-muted small">Copyright &copy; buzzit. All Rights Reserved</p>
            </div>
        </div>
    </div>
</footer>
{% if messages %}
    <script>
        {% for message in messages %}
            {% if message.tags %}
                {% if message.tags == "info" %}
                    noty({type: "info", text: "{{ message }}", timeout: 4000});
                {% elif message.tags == "error" %}
                    noty({type: "error", text: "{{ message }}</br>Klicken zum ausblenden"});
                {% elif message.tags == "success" %}
                    noty({type: "success", text: "{{ message }}", timeout: 1000});
                {% elif message.tags == "warning" %}
                    noty({type: "warning", text: "{{ message }}", timeout: 4000});
                {%  else %}
                {% endif %}
            {% else %}
                noty({text: "{{ message }}"});
            {% endif %}
        {% endfor %}
    </script>
{% endif %}
</body>