{% extends "buzzit_messaging/extendables/abstract_circle_message.html" %}
{% block answers %}
    {% for answer_to in circlemessage.circle_message_set.all %}
        <div class="media">
            <div class="media-left">
                <a href="{% url "view_profile" answer_to.creator.profile.pk %}">
                    <img height="64" width="64" class="media-object"
                         src="{% url "profile_picture_small" answer_to.creator.profile.pk %}"
                         alt="Profilbild">
                </a>
            </div>
            <div class="media-body">
                <!-- the creator of the answer as well as the date will be shown -->
                <h4 class="media-heading"><a
                        href="{% url "view_profile" answer_to.creator.pk %}">{{ answer_to.creator }}</a>
                    antwortete
                    am {{ answer_to.created | date:'d.m.Y H:i' }}:</h4>
                {{ answer_to | messagefilter |safe }}
            </div>
        </div>
        {% if answer_to.creator == user %}
            <div align="right">
                <a class="btn btn-danger btn-xs"
                   href="{% url "delete_circlemessage" answer_to.id %}"><span
                        class="glyphicon glyphicon-remove"></span> Löschen</a>
            </div>
        {% endif %}
    {% endfor %}
{% endblock %}